#forme1 {
    top: 200px;
    left: 600px;
    transform: rotate(90deg);
    transition: 3s;
}
#forme2 {
    transform: rotate(90deg);
    top: 200px;
    left: 400px;
}
#forme3 {
    transform: rotate(135deg);
    top: -100px;
    left: 500px;
}
#forme4 {
    transform: rotate(45deg);
    top: 0px;
    left: 550px;
}
#forme5 {
    transform: rotate(180deg);
    top: -350px;
    left: 690px;
}
#forme6 {
    top: -300px;
    left: 375px;
    transform: skew(315deg);
}
#forme7 {
    transform: rotate(180deg);
    top: -660px;
    left: 600px;
}