#forme1 {
    top: 335px;
    left: 800px;
    transform: rotate(90deg);
}
#forme2 {
    transform: rotate(45deg);
    top: 500px;
    left: 450px;
}
#forme3 {
    transform: rotate(90deg);
    top: 0px;
    left: 50px;
}
#forme4 {
    transform: rotate(270deg);
    top: 10px;
    left: 450px;
}
#forme5 {
    top: -250px;
    left: 500px;
}
#forme6 {
    top: -500px;
    left: 600px;
    transform: skew(135deg);
}
#forme7 {
    transform: rotate(315deg);
    top: -600px;
    left: 380px;
}