.triangle{
    transform:translate(250px, 100px) rotate(45deg);
    transition: all 2s
}
.triangle2{
    transform: translate(100px,300px) rotate(270deg);
    transition: all 2s;
}
.triangle3{
    transform:translate(175px, 200px) rotate(180deg);
    transition: all 2s;
}

.triangle4{
    transform:translate(50px, 102px) rotate(180deg);
    transition: all 2s;

}
.triangle5{
    transform:translate(0px, 175px) rotate(0deg);
    transition: all 2s;

}
.carre{
    transform:translate(10px, 40px) rotate(90deg);
    transition: all 2s;
}
.parallelogram{
    transform:translate(150px, 10px) rotate(45deg) skew(315deg);
    transition: all 2s;
}