.triangle{
    transform: translate(280px, 130px) rotate(180deg);
    transition: all 2s;
}
.triangle2{
    transform: translate(195px,215px) rotate(270deg);
    transition: all 2s;
}
.triangle3{
    transform: translate(270px, 245px) rotate(45deg);
    transition: all 2s;
}

.triangle4{
    transform: translate(120px, 130px);
    transition: all 2s;
}
.triangle5{
    transform: translate(175px, 75px) rotate(90deg);
    transition: all 2s;
}
.carre{
    transform: translate(240px, 200px) rotate(45deg);
    transition: all 2s;
}
.parallelogram{
    transform: translate(160px, 275px) rotate(295deg) skew(25deg, 20deg);
    transition: all 2s;
}