.triangle{
    transform:translate(160px, -2px) rotate(180deg);
    transition: all 2s;
}
.triangle2{
    transform: translate(79px,79px) rotate(270deg);
    transition: all 2s;
}
.triangle3{
    transform:translate(150px, 109px) rotate(45deg);
    transition: all 2s;
}

.triangle4{
    transform:translate(0, 0);
    transition: all 2s;
}
.triangle5{
    transform:translate(54px, -52px) rotate(90deg);
    transition: all 2s;
}
.carre{
    transform:translate(122px, 66px) rotate(45deg);
    transition: all 2s;
}
.parallelogram{
    transform:translate(45px, 146px) rotate(-45deg) skew(45deg);
    transition: all 2s;
}