body{
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    width: 500px;
    height: 500px;
    background-color: #333;
    float: left;
    border: 15px inset black;
}
.tangram{
    padding: 20px 30px;
    position: relative;
}
.buttons{
    float: left;
	width: 140px;
}
button{
    background-color: #545454;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 15px;
    width: 130px;
    margin-bottom: 4px;
    cursor: pointer;
    border: none;
    border-radius: 0px 100px 100px 0px;
}
button:hover{
    font-size: 20px;
}
h1{
    text-align: center;
}
/* FORMES GEMOETRIQUE */

.triangle{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 50px solid #d2696a;
	border-top: 50px solid transparent;
	border-bottom: 50px solid transparent;
    

}
.triangle2{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 50px solid #7e2b7c;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    
}
.triangle3{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 70px solid #189184;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    
}

.triangle4{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 100px solid #FBC002;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;


}
.triangle5{
    width: 0;
	height: 0;
	position: absolute;
    border-left: 100px solid #b20000;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;

}
.carre{
    position: absolute;
    background-color: #F48400;
    width: 70px;
    height: 70px;
    
}
.parallelogram{
    position: absolute;
    background-color: #81b442;
    width: 64px; 
    height: 70px;
    
}