/*LAPIN*/
.triangle{
    transform:translate(211px, 383px) rotate(45deg);
    transition: all 2s;
}
.triangle2{
    transform: translate(170px,260px) rotate(180deg);
    transition: all 2s;
}
.triangle3{
    transform:translate(249px, 357px) rotate(135deg);
    transition: all 2s;
}

.triangle4{
    transform:translate(210px, 170px) rotate(135deg);
    transition: all 2s;

}
.triangle5{
    transform:translate(280px, 246px) rotate(-45deg);
    transition: all 2s;

}
.carre{
    transform:translate(150px, 124px) rotate(0deg);
    transition: all 2s;
}
.parallelogram{
    transform:translate(226px, 30px) skew(-45deg);
    transition: all 2s;
}